.container {
    /* margin: 0 auto; */
    width: 30rem;

    @media (max-width: 768px) {
        width: 80%;
    }
}

.div {
    height: 30rem;
    background: linear-gradient(180deg, var(--primary-light), var(--card-bg));
    box-shadow: var(--shadow);
    padding: 3rem;
    border-radius: 2rem;
}

.title {
    font-weight: 700;
    font-size: 3.2rem;
    color: var(--primary-dark);
    text-align: center;
    margin-bottom: 1.25rem;

    @media (max-width: 768px) {
        font-size: 2rem;
    }
}

.text {
    font-size: 2rem;
}